@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 14, 33;
  --background-end-rgb: 10, 10, 20;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, 
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))) fixed;
  background-color: rgb(var(--background-start-rgb));
  min-height: 100vh;
  position: relative;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle at center, rgba(255, 255, 255, 0.1) 1px, transparent 1px);
  background-size: 50px 50px;
  z-index: -1;
  pointer-events: none;
}
